body {
    margin: 0;
    font-family: Jura, sans-serif, Helvetica;
}
/**/
.panel {
    width: 40.4em;
    padding: 0px 5px 0px 5px;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

.panel-link {
    display: table;
    height: 100%;
    line-height: 200%;
    padding: 4px 15px 4px 15px;
}

.panel-link a {
    text-decoration: none;
}

.panel-link a:hover {
    color: #d4e157;
    text-decoration: none;
}

.panel-link a:active {
    color: #e6ee9c;
    text-decoration: none;
}

.content {
    width: 100%;
    height: 100%;
}

.loader {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
}

.keyboard {
    width: 40.4em;
    border: 1px solid #BDBDBD;
    border-radius: 0.2em;
    padding: 0.3em;
}

.keyboard,
.keytrainer-pattern,
.keytrainer,
.tips,
.panel,
.infopanel {
    font-size: 100%;
}

.keytrainer-pattern,
.keytrainer,
.tips,
.infopanel {
    width: 40.4em;
    text-align: justify;
    border-radius: 0.2em;
    padding: 10px 5px 10px 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.keytrainer-pattern {
    border: 1px solid #43a047;
}

.keytrainer {
    border: 1px solid #43a047;
}

.infopanel {
    border: 1px solid #43a047;
}

.timer {
    color: #66bb6a;
}

.speed {
    color: #66bb6a;
}

.mistakes {
    color: #ff8a65;
}

.keytrainer-pattern,
.keytrainer,
.tips,
.infopanel {
    font-family: Courier, monospace, 'Courier New';
    font-weight: 500;
}

.keytrainer-pattern .highlighted,
.keytrainer .highlighted {
    color: #9575cd;
}

.keytrainer-pattern .type {
    color: #212121;
}

.keytrainer-pattern .typed {
    color: #757575;
}

.startkey {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px #43a047;
    border-style: solid;
}

.key.highlighted,
.Space.highlighted,
.Backslash.highlighted {
    color: #FFFFFF;
    background: #9575cd;
}

.google {
    width: 728px;
}

.divider {
    height: 0.8em;
}

.keys-row {
    display: flex;
    justify-content: space-between;
}

.key {
    width: 2.4em;
}

.Backspace {
    width: 5.3em;
}

.Tab {
    width: 3.9em;
}

.Backslash {
    width: 3.8em;
}

.CapsLock {
    width: 5.2em;
}

#CapsLock {
    font-size: 90%;
}

.Enter {
    width: 5.2em;
}

.ShiftLeft {
    width: 6em;
}

.ShiftRight {
    width: 7em;
}

.ControlLeft,
.Win,
.AltLeft,
.AltRight,
.ContextMenu,
.ControlRight {
    width: 3.3em;
}

.Space {
    width: 15em;
}

#space {
    visibility: hidden;
}

.Backslash {
    border-radius: 0.2em;
}

div[class~=Backslash] .key-row {
    display: flex;
    justify-content: center;
}

.key-row {
    display: flex;
    justify-content: center;
}

.key {
    border-radius: 0.2em;
    height: 2.4em;
    line-height: 120%;
}

.key,
.Backspace,
.Tab,
.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight,
.ControlLeft,
.Win,
.AltLeft,
.AltRight,
.ContextMenu,
.ControlRight,
.Space {
    /* font-size: 150%; */
    font-weight: 500;
}

.Backspace,
.Tab,
.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight,
.ControlLeft,
.Win,
.AltLeft,
.AltRight,
.ContextMenu,
.ControlRight,
.Space {
    border-radius: 0.2em;
    height: 2.4em;
    line-height: 240%;
    display: flex;
    justify-content: center;
}

.key-cell {
    width: 50%;
    height: 50%;
    display: table-cell;
    text-align: center;
}

.keys-delimiter {
    height: 0.3em;
}

.CapsLockEnabled {
    color: #FFFFFF;
}

.tf {
    background: #c5cae9;
}

.tf-d {
    background: #7986cb;
}

.if {
    background: #a5d6a7;
}

.if-d {
    background: #66bb6a;
}

.mf {
    background: #e6ee9c;
}

.mf-d {
    background: #d4e157;
}

.rf {
    background: #ffcc80;
}

.rf-d {
    background: #ffa726;
}

.lf {
    background: #ffccbc;
}

.lf-d {
    background: #ff8a65;
}